In [34]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy.stats import t as ttest
import math

In [7]:
df = pd.read_csv('./data/ab_data.csv')

In [8]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [10]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print('')

user_id
637561    2
821876    2
643869    2
938802    2
916765    2
         ..
710897    1
708848    1
665839    1
663790    1
630836    1
Name: user_id, Length: 290584, dtype: int64

timestamp
2017-01-13 00:34:36.696523    1
2017-01-23 09:47:49.843765    1
2017-01-10 01:11:13.358507    1
2017-01-10 12:40:43.216285    1
2017-01-03 23:17:41.604811    1
                             ..
2017-01-06 17:30:06.647443    1
2017-01-09 07:20:22.746996    1
2017-01-18 22:48:09.807357    1
2017-01-05 13:08:41.052324    1
2017-01-20 18:20:29.285250    1
Name: timestamp, Length: 294478, dtype: int64

group
treatment    147276
control      147202
Name: group, dtype: int64

landing_page
old_page    147239
new_page    147239
Name: landing_page, dtype: int64

converted
0    259241
1     35237
Name: converted, dtype: int64

#### overall sample proportion
$p = \frac{n_{1}\hat{p_{1}} +n_{2}\hat{p_{2}}}{n_{1} + n_{2}}$

In [11]:
def overall_sample_proportion(p1, p2, n1, n2):
    return (n1*p1 + n2*p2) / (n1 + n2)

In [12]:
overall_sample_proportion(82/100, 10, 60/80, 80)

9.914736842105263

#### proportion diffrance z score

$z_{\hat{p}_{1}-\hat{p}_{2}} = \frac{\hat{p}_{1} -\hat{p}_{2}}{\sqrt{\frac{\hat{p}\hat{q}}{n_{1}} + \frac{\hat{p}\hat{q}}{n_{2}}}} $

In [13]:
def p_diffrance_stats(p1 , p2, n1, n2):
    p = overall_sample_proportion(p1 , p2, n1, n2)
    q = 1 - p
    z = abs(p1 - p2) / ((p*q/ n1) + (p*q / n2))**0.5
    return z

## Old page Stats

In [14]:
old_page = df.copy().loc[df.landing_page == 'old_page', 'converted'].values

In [15]:
old_page

array([0, 0, 1, ..., 0, 0, 0])

In [16]:
coverted_old = old_page.sum()
old_page.sum()

17739

In [17]:
mean_old_page = round(coverted_old/len(old_page), 6)

In [18]:
mean_old_page

0.120478

In [19]:
sdt_old_page = old_page.std(ddof=1)

In [20]:
sdt_old_page

0.3255202921894224

## new page satats

In [21]:
new_page = df.copy().loc[df.landing_page == 'new_page', 'converted'].values

In [42]:
new_conerted = new_page.sum() 
new_conerted

17498

In [23]:
mean_new_page = round(new_conerted/len(new_page), 6)

In [24]:
mean_new_page

0.118841

In [25]:
sdt_new_page = new_page.std(ddof=1)

In [26]:
sdt_new_page

0.3236021826488815

In [27]:
t =(mean_old_page - mean_new_page) / ((sdt_new_page**2) / len(new_page) + (sdt_old_page**2) / len(old_page)) ** 0.5
t

1.3685055551018566

In [28]:
# reject the null hypotisis

In [29]:
len(new_page)

147239

In [30]:
p_diffrance_stats(mean_new_page, mean_old_page, len(new_page), len(old_page))

1.3685043375764405

In [31]:
import scipy.stats as st
st.norm.ppf(1-(0.05))

1.6448536269514722

In [32]:
st.norm.cdf(1.3685043375764405)

0.9144228673974397

In [33]:
#k~bin(n,p)
p = 0.120478
n = len(new_page)
k = new_conerted

In [ ]:
#( n k ) * p **k * (1-p) ** n-k

In [40]:
math.factorial(n)/(math.factorial((n-k)) * math.factorial(k) * p**k * (1-p)**(n-k))

OverflowError: int too large to convert to float

In [41]:
n

147239