In [47]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy.stats import t as ttest

In [4]:
df = pd.read_csv('./data/ab_data.csv')

In [5]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [7]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print('')

user_id
637561    2
821876    2
643869    2
938802    2
916765    2
         ..
710897    1
708848    1
665839    1
663790    1
630836    1
Name: user_id, Length: 290584, dtype: int64

timestamp
2017-01-06 02:26:07.998927    1
2017-01-17 05:41:54.447274    1
2017-01-09 20:57:49.269876    1
2017-01-06 12:50:57.398669    1
2017-01-06 13:43:19.331405    1
                             ..
2017-01-15 12:05:32.380677    1
2017-01-06 08:08:16.437984    1
2017-01-14 17:40:08.493742    1
2017-01-08 17:46:03.578057    1
2017-01-08 04:17:32.159111    1
Name: timestamp, Length: 294478, dtype: int64

group
treatment    147276
control      147202
Name: group, dtype: int64

landing_page
old_page    147239
new_page    147239
Name: landing_page, dtype: int64

converted
0    259241
1     35237
Name: converted, dtype: int64

#### overall sample proportion
$p = \frac{n_{1}\hat{p_{1}} +n_{2}\hat{p_{2}}}{n_{1} + n_{2}}$

In [8]:
def overall_sample_proportion(p1, p2, n1, n2):
    return (n1*p1 + n2*p2) / (n1 + n2)

In [9]:
overall_sample_proportion(82/100, 10, 60/80, 80)

9.914736842105263

#### proportion diffrance z score

$z_{\hat{p}_{1}-\hat{p}_{2}} = \frac{\hat{p}_{1} -\hat{p}_{2}}{\sqrt{\frac{\hat{p}\hat{q}}{n_{1}} + \frac{\hat{p}\hat{q}}{n_{2}}}} $

In [28]:
def p_diffrance_stats(p1 , p2, n1, n2):
    p = overall_sample_proportion(p1 , p2, n1, n2)
    q = 1 - p
    z = abs(p1 - p2) / ((p*q/ n1) + (p*q / n2))**0.5
    return z

## Old page Stats

In [29]:
old_page = df.copy().loc[df.landing_page == 'old_page', 'converted'].values

In [30]:
old_page

array([0, 0, 1, ..., 0, 0, 0])

In [31]:
coverted_old = old_page.sum()
old_page.sum()

17739

In [32]:
mean_old_page = round(coverted_old/len(old_page), 6)

In [33]:
mean_old_page

0.120478

In [34]:
sdt_old_page = old_page.std(ddof=1)

In [35]:
sdt_old_page

0.3255202921894224

## new page satats

In [36]:
new_page = df.copy().loc[df.landing_page == 'new_page', 'converted'].values

In [37]:
new_conerted = new_page.sum()

In [38]:
mean_new_page = round(new_conerted/len(new_page), 6)

In [39]:
mean_new_page

0.118841

In [40]:
sdt_new_page = new_page.std(ddof=1)

In [41]:
sdt_new_page

0.3236021826488815

In [42]:
t =(mean_old_page - mean_new_page) / ((sdt_new_page**2) / len(new_page) + (sdt_old_page**2) / len(old_page)) ** 0.5
t

1.3685055551018566

In [43]:
# reject the null hypotisis

In [44]:
len(new_page)

147239

In [45]:
p_diffrance_stats(mean_new_page, mean_old_page, len(new_page), len(old_page))

1.3685043375764405

In [50]:
alpha = 0.1
ttest.ppf(alpha, df=1)

-3.077683537207806

In [57]:
import scipy.stats as st
st.norm.ppf(1-(alpha/2))

1.6448536269514722

In [54]:
st.norm.cdf(1.3685043375764405)

0.9144228673974397