In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [3]:
df = pd.read_csv('./data/ab_data.csv')

In [4]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [8]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print('')

user_id
637561    2
821876    2
643869    2
938802    2
916765    2
         ..
710897    1
708848    1
665839    1
663790    1
630836    1
Name: user_id, Length: 290584, dtype: int64

timestamp
2017-01-06 17:43:12.659134    1
2017-01-23 12:37:33.455406    1
2017-01-21 00:20:56.832974    1
2017-01-12 10:08:19.463214    1
2017-01-06 01:44:45.058134    1
                             ..
2017-01-06 04:43:43.489056    1
2017-01-08 15:19:58.076818    1
2017-01-09 03:39:15.605695    1
2017-01-07 19:16:21.692105    1
2017-01-16 22:32:30.292880    1
Name: timestamp, Length: 294478, dtype: int64

group
treatment    147276
control      147202
Name: group, dtype: int64

landing_page
new_page    147239
old_page    147239
Name: landing_page, dtype: int64

converted
0    259241
1     35237
Name: converted, dtype: int64

In [25]:
old_page = df.copy().loc[df.landing_page == 'old_page', 'converted'].values

In [26]:
old_page

array([0, 0, 1, ..., 0, 0, 0])

In [34]:
mean_old_page = round(old_page.sum()/len(old_page), 6)

In [35]:
mean_old_page

0.120478

In [42]:
sdt_old_page = old_page.std(ddof=1)

In [30]:
sdt_old_page

0.3255191867729061

In [31]:
new_page = df.copy().loc[df.landing_page == 'new_page', 'converted'].values

In [44]:
mean_new_page = round(new_page.sum()/len(new_page), 6)

In [45]:
mean_new_page

0.118841

In [46]:
sdt_new_page = new_page.std(ddof=1)

In [41]:
sdt_new_page

0.3236021826488815

In [48]:
t =(mean_old_page - mean_new_page) / ((sdt_new_page**2) / len(new_page) + (sdt_old_page**2) / len(old_page)) ** 0.5

1.3685055551018566

In [ ]:
# reject the null hypotisis